body {
  background-color: #212121;
}

.demo-card-wide.mdl-card {
  width: 512px;
  background-color: #252525;
}
.demo-card-wide > .mdl-card__title {
  color: #FFFFFF;
  height: 212px;
  background: url('./assets/a.PNG') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-card__supporting-text {
  color: #FFFFFF
}
